/* line 2, shou.scss */
.box {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

/* line 7, shou.scss */
.tu {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  z-index: 0; }

/* line 14, shou.scss */
.swiper-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0; }
  /* line 19, shou.scss */
  .swiper-container img {
    width: 100%; }
  /* line 23, shou.scss */
  .swiper-container .swiper-pagination {
    font-size: 2rem;
    color: #fff;
    margin-left: 40%; }

/* line 31, shou.scss */
.tu2 {
  margin-top: 10px;
  overflow-x: hidden; }

/* line 35, shou.scss */
.swiper-container2 {
  width: 100%; }
  /* line 37, shou.scss */
  .swiper-container2 img {
    width: 100%; }

/* line 43, shou.scss */
.sheng {
  width: 100%;
  padding: 1.8rem 1.4rem;
  background: #fff;
  position: relative; }
  /* line 48, shou.scss */
  .sheng a {
    font-size: 1.4rem;
    color: #464656;
    position: absolute;
    right: 1rem; }
  /* line 54, shou.scss */
  .sheng strong {
    font-size: 1.4rem;
    color: #464656; }
  /* line 58, shou.scss */
  .sheng span {
    color: #d1d2d4;
    font-size: 1.2rem;
    margin-left: 2px; }

/* line 64, shou.scss */
.sheng2 {
  width: 100%;
  padding: 1.8rem 1.4rem;
  background: #fff;
  position: relative;
  margin-top: 1rem; }
  /* line 70, shou.scss */
  .sheng2 a {
    font-size: 1.4rem;
    color: #464656;
    position: absolute;
    right: 1rem; }
  /* line 76, shou.scss */
  .sheng2 strong {
    font-size: 1.4rem;
    color: #464656; }
  /* line 80, shou.scss */
  .sheng2 span {
    color: #d1d2d4;
    font-size: 1.2rem;
    margin-left: 2px; }

/* line 88, shou.scss */
.tubiao {
  width: 100%;
  background: #fff;
  margin-bottom: 1rem; }
  /* line 93, shou.scss */
  .tubiao ul {
    width: 100%;
    padding: 0px 1.7rem 2.2rem 1.7rem;
    display: flex;
    -webkit-justify-content: space-between; }
    /* line 98, shou.scss */
    .tubiao ul li {
      padding: 1.1rem 1.7rem;
      text-align: center;
      border: 1px solid #f5f5f5;
      width: 7rem;
      height: 7rem; }
      /* line 104, shou.scss */
      .tubiao ul li img {
        width: 3.2rem;
        height: 3.7rem; }

/* line 113, shou.scss */
.a1 {
  width: 100%;
  padding: 1.5rem;
  background: #fff; }
  /* line 117, shou.scss */
  .a1 .aaa {
    border: 1px solid #f2f2f2;
    padding: 1.5rem; }
    /* line 122, shou.scss */
    .a1 .aaa .aa1 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
    /* line 126, shou.scss */
    .a1 .aaa .aa2 {
      font-size: 1.3rem;
      color: #9f9fa8;
      margin-bottom: 1rem; }
    /* line 131, shou.scss */
    .a1 .aaa ul {
      width: 100%;
      display: flex;
      margin-bottom: 1rem; }
      /* line 135, shou.scss */
      .a1 .aaa ul li {
        flex: 1; }
        /* line 138, shou.scss */
        .a1 .aaa ul li img {
          width: 70%;
          height: 70%; }
    /* line 146, shou.scss */
    .a1 .aaa .aa3 {
      font-size: 1.3rem;
      color: #9f9fa8;
      display: flex; }
      /* line 150, shou.scss */
      .a1 .aaa .aa3 img {
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem; }

/* line 159, shou.scss */
.xx {
  width: 100%;
  font-size: 1.5rem;
  color: #a9a9a9;
  text-align: center;
  background: #fff;
  padding-bottom: 1.9rem;
  padding-top: 1.9rem;
  border: 1px solid #f2f2f2; }

/*# sourceMappingURL=shou.css.map */
